
@{
    ViewBag.Title = "Student";
}

@{
    ViewBag.Title = "Home Page";
}
@*http://getbootstrap.com/css/*@

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div style="width:75%;height:200px;padding:16px;margin:10px;" class="w3-card-8">Test</div>
          
            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" ng-model="Name" id="usrName">
            </div>
            <div class="form-group">
                <label for="usr">Phone:</label>
                <input type="text" class="form-control" id="usrPhone" ng-model="Phone">
            </div>
            <div class="form-group">
                <label for="usr">RegNumber:</label>
                <input type="text" class="form-control" id="RegNumber" ng-model="RegNumber">
            </div>
            <div></div>
        </div>
        <div class="col-md-4">
           

            <div class="form-group">
                <label for="ddlClass">Class:</label>
                <select class="form-control" id="ddlClass" name="Class" >
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>            

            <div class="form-group">
                <label for="ddlDiv">Div:</label>
                <select class="form-control" id="ddlDiv" name="Div">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                </select>
            </div>


           <div class="form-group">
                <label for="Gender">Gender:</label>
                <select class="form-control" id="ddlGender"  >
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </div>

            <div class="form-group">
                <label for="DOB">DOB:</label>
                <input type="date" class="form-control" id="DOB" ng-model="DOB">
            </div>


            @*<div class="form-group" data-provide="datepicker">
                <div class="input-group date">
                    <label for="DOB">DOB:</label>
                    <input type="text" class="form-control" id="DOB">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </div>*@



            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" class="form-control" id="Email" ng-model="Email">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="ddlBGroup">Blood Grp:</label>               

                <select class="form-control" id="ddlBGroup">
                    <option>A</option>
                    <option>B</option>
                    <option>C</option>
                    <option>D</option>
                </select>

            </div>
            <div class="form-group">
                <label for="Status">Status:</label>
                <select id="ddlStatus" class="form-control" name="ddlStatus">
                    <option value="A">Active</option>
                    <option value="I">Inactive</option>
                </select>               
            </div>
            <div class="form-group">
                <label for="Status">Address:</label>
                <textarea type="text" class="form-control" rows="6" cols="12" id="Address" ng-model="Address"></textarea>
            </div>
           
        </div>
    </div>
    <div class="row" style="text-align:right;">
        <button type="button" class="btn btn-primary .open-AddBookDialog" id="btnEdit" data-toggle="modal" data-target="#modalConfirm">Edit</button>
        <div type="button" class="btn btn-primary" id="btnSendAlert">
            @Html.ActionLink("Send Alert", "Alerts", "Alerts", new { userAction = "NewAlert" }, null)
        </div>
        <button type="button" class="btn btn-primary" id="btnDelete">Delete</button>
    </div>


    <!-- Modal -->
    <div id="modalConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please Confirm Details</h4>
                </div>
                <div class="modal-body">
                    
                    <div style="width:50%;height:200px;padding:16px;margin:10px;" class="w3-card-8">Test</div>

                    <div class="form-group">
                        <label for="modalusrName">Name:</label>
                        <input type="text" class="form-control textboxtolabel" ng-model="Name" id="modalusrName" name="modalusrName" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="modalusrPhone">Phone:</label>
                        <input class="form-control textboxtolabel" id="modalusrPhone" name="modalusrPhone" ng-model="Phone" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="modalRegNumber">RegNumber:</label>
                        <input class="form-control textboxtolabel" id="modalRegNumber" ng-model="RegNumber" name="modalRegNumber" disabled="disabled" />
                    </div>


                    <div class="form-group">
                        <label for="modalddlClass">Class:</label>
                        <input class="form-control textboxtolabel" id="modalddlClass" ng-model="Class" name="modalddlClass" disabled="disabled"/>
                    </div>

                    <div class="form-group">
                        <label for="modalddlDiv">Div:</label>
                        <input class="form-control textboxtolabel" id="modalddlDiv" ng-model="Div" name="modalddlDiv" disabled ="disabled" />
                    </div>


                    <div class="form-group">
                        <label for="modalddlGender">Gender:</label>
                        <input class="form-control textboxtolabel" id="modalddlGender" ng-model="modalddlGender" name="modalddlGender" disabled="disabled"/>
                    </div>

                    <div class="form-group">
                        <label for="modalDOB">DOB:</label>
                        <input class="form-control textboxtolabel" id="modalDOB" ng-model="DOB" name="modalDOB" disabled="disabled"/>
                    </div>

                    <div class="form-group">
                        <label for="modalEmail">Email:</label>
                        <input type="text" class="form-control textboxtolabel" name="modalEmail" id="modalEmail" ng-model="Email" disabled="disabled" />
                    </div>

                    <div class="form-group">
                        <label for="modalddlBGroup">Blood Grp:</label>
                        <input class="form-control textboxtolabel" id="modalddlBGroup" ng-model="modalddlBGroup" name="modalddlBGroup" disabled="disabled" />

                    </div>
                    <div class="form-group">
                        <label for="modalddlStatus">Status:</label>
                        <input id="modalddlStatus" class="form-control textboxtolabel" ng-model="modalddlStatus" name="modalddlStatus" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="modalAddress">Address:</label>
                        <textarea type="text" class="form-control" disabled="disabled" rows="6" cols="12" id="modalAddress" ng-model="modalAddress" name="modalAddress"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>




<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>

<link href="~/Content/Site.css" rel="stylesheet" />

<script>
    var app = angular.module('myApp', []);

    //$('#modalConfirm').on('show.bs.modal', function(e) {
    //    debugger;
    //    //get data-id attribute of the clicked element
    //    var userName = $("#usrName").val();

    //    //populate the textbox
    //    $(e.currentTarget).find('input[name="modalusrName"]').val(userName);
    //});
    $(document).ready(function () {


        $("#btnEdit").click(function () {
            debugger;
            var userName = $("#usrName").val();
            $("#modalConfirm #modalusrName").val($("#usrName").val());           
            $("#modalConfirm #modalusrPhone").val($("#usrPhone").val());           
            $("#modalConfirm #modalRegNumber").val($("#RegNumber").val());
            $("#modalConfirm #modalddlClass").val($("#ddlClass").val());
            $("#modalConfirm #modalddlDiv").val($("#ddlDiv").val());
            $("#modalConfirm #modalddlGender").val($("#ddlGender").val());
            $("#modalConfirm #modalDOB").val($("#DOB").val());
            $("#modalConfirm #modalEmail").val($("#Email").val());
            $("#modalConfirm #modalddlBGroup").val($("#ddlBGroup").val());
            $("#modalConfirm #modalddlStatus").val($("#ddlStatus").val());
            $("#modalConfirm #modalAddress").val($("#Address").val());
        });
            }
        );
</script>