
@{
    ViewBag.Title = "AssignTeacher";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            Assign Teacher
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label for="ddlClass">Class:</label>
                <select type="text" class="form-control" id="ddlClass">
                    <option>Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="ddlDiv">Division:</label>
                <select type="text" class="form-control" id="ddlDiv">
                    <option>Select</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="ddlSubject">Subject:</label>
                <select type="text" class="form-control" id="ddlSubject">
                    <option>Select</option>
                    <option value="History">History</option>
                    <option value="History">English</option>
                    <option value="History">Maths</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="ddlTeacher">Teacher:</label>
                <select type="text" class="form-control" id="ddlTeacher">
                    <option>Select</option>
                    <option value="1">Synthya</option>
                    <option value="2">Synthya1</option>
                    <option value="3">Synthya2</option>
                    <option value="4">Synthya3</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="chkPrimary">Primary:</label>
                <input type="checkbox" class="checkbox" id="chkPrimary"  style="width:50%;height:50%;"/>
            </div>
        </div>
    </div>
    <div class="row" style="text-align:right;">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">            
                <button type="button" class="btn btn-primary" id="btnSearch" style="width:100%;">Search</button>           
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="btnSave" style="width:100%;">Save</button>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" id="btnCancel" style="width:100%;">Cancel</button>
        </div>
        </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div ng-controller="MyCtrl" style="padding-top:30px;">
            <div class="gridStyle" ng-grid="gridOptions"></div>
        </div>
    </div>
   
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>

<link href="~/Content/Site.css" rel="stylesheet" />
<script>
    var searchedData;
    var app = angular.module('myApp', ['ngGrid']);
    app.controller('MyCtrl', function ($scope) {

        //Define grid
        $scope.gridOptions = {

            data: 'myData',
            columnDefs: [{ field: 'Class', displayName: 'Class' },
                           { field: 'Division', displayName: 'Division' },
                           { field: 'Subject', displayName: 'Subject'},
                            { field: 'Teacher', displayName: 'Teacher'},
                             { field: 'Primary', displayName: 'Primary'}
            ]
        };


    $(document).ready(function () {

        var name;
        var RegNumber;
        var ddlClass;
        var ddlDiv;

        $("#btnClear").click(
            function () {
                debugger;
                $("#txtName").val('');
                $("#txtRegNumber").val('');
                $("#ddlClass").val('1');
                $("#ddlDiv").val('A');
            });

        $("#btnSubmit").click(
           function () {
               debugger;
               name = $("#txtName").val();
               RegNumber = $("#txtRegNumber").val();
               ddlClass = $("#ddlClass").val();
               ddlDiv = $("#ddlDiv").val();

               var url = '@Url.Action("Search", "Teacher")' + '?Name=' + name + '&Class=' + ddlClass + '&Div=' + ddlDiv + '&RegNumber=' + RegNumber;

               $.ajax({
                   url: url,
                   contentType: "application/json; charset=utf-8",
                   type: 'POST',
                   success: function (data) {
                       /*New code */
                       debugger;

                       $scope.myData = JSON.parse(data);
                       if (!$scope.$$phase) {
                           $scope.$apply();
                       }

                       //$scope.myData = data;
                   }
               });

               //$scope.$apply();

              }



               );

    });


    });



</script>