
@{
    ViewBag.Title = "NewTeacher";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div style="width:75%;height:200px;padding:16px;margin:10px;" class="w3-card-8">Test</div>

            <div class="form-group">
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usrName">
            </div>
            <div class="form-group">
                <label for="usr">Phone:</label>
                <input type="text" class="form-control" id="usrPhone">
            </div>
            <div></div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="Class">Class:</label>
                <input type="text" class="form-control" id="Class">
            </div>
            <div class="form-group">
                <label for="Div">Division:</label>
                <input type="text" class="form-control" id="Div">
            </div>
            <div class="form-group">
                <label for="Gender">Gender:</label>
                <input type="text" class="form-control" id="Gender">
            </div>
            <div class="form-group">
                <label for="DOB">DOB:</label>
                <input type="text" class="form-control" id="DOB">
            </div>
            <div class="form-group">
                <label for="Email">Email:</label>
                <input type="text" class="form-control" id="Email">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="BloodGroup">Blood Grp:</label>
                <input type="text" class="form-control" id="BloodGroup">
            </div>
            <div class="form-group">
                <label for="Status">Status:</label>
                <input type="text" class="form-control" id="Status">
            </div>
            <div class="form-group">
                <label for="Status">Address:</label>
                <textarea type="text" class="form-control" rows="6" cols="12" id="Status"></textarea>
            </div>

        </div>
    </div>
    <div class="row" style="text-align:right;">
        <button type="button" class="btn btn-primary" id="btnEdit">Edit</button>
        <button type="button" class="btn btn-primary" id="btnSendAlert">Send Alert</button>
        <button type="button" class="btn btn-primary" id="btnDelete">Delete</button>
    </div>
</div>

