
@{
    ViewBag.Title = "Alerts";
}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">Send New Alert</div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ddlClass">Class:</label>
                    <input type="text" class="form-control" id="ddlClass">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ddlDivision">Division:</label>
                    <input type="text" class="form-control" id="ddlDivision">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ddlStudent">Student:</label>
                    <input type="text" class="form-control" id="ddlStudent">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="ddlStatus">Status:</label>
                    <input type="text" class="form-control" id="ddlStatus">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="form-group">
                    <label for="ddlCatagory">Catagory:</label>
                    <input type="text" class="form-control" id="ddlCatagory">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="ddlDivision">Attachment:</label>
                    <input type="text" class="form-control" id="ddlDivision">
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="txtDescription">Description:</label>
                <textarea type="text" class="form-control" id="txtDescription" rows="6" cols="12"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" id="btnSendAlert" style="width:100%;">Send Alert</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" id="btnCancel" style="width:100%;">Cancel</button>
        </div>
    </div>
</div>